<html>
    <head>
    	<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')  }}" type="image/hmc-icon" />
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')  }}" type="image/hmc-icon" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		{% block css %}{% endblock %}
		<!-- js -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')  }}" ></script>
		{% block js %}{% endblock %}
    </head>
    <div class="page">
		{% for message in get_flashed_messages() %}
		  	<div class="flash">{{ message }}</div>
		{% endfor %}
		{% block body %}
		{% endblock %}
		{% block bottom %}{% endblock %}
	</div>
</html>