{% extends 'layout.html' %}
{% block title %}Upload{% endblock %}
{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/test/upload_img.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="image_preview" style="border: 1px solid #ccc; width: auto;margin:auto; height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>
    <div id="file_info"></div>
    <form method="post" action="{{ url_for('test.upload') }}" enctype="multipart/form-data">
    	<input id="image_file" type="file" name="upload_file">
    	<br>
    	<input type="submit">上传</input>
    </form>
{% endblock %}